*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url("../assets/placeholder.png");
    background-size: cover;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #banner{
    background-image: url("../assets/banner-gris.jpg");
    background-size: cover;
  }
  #bannerHome{
    background-image: url("../assets/banner-gris.jpg");
    background-size: cover;
  }
  #imgFeature {
    width:"200";
    height:"250";
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background-size: cover;
  }
  @media (min-width: 768px) {
    .imgFeature-lg {
      font-size: 3.5rem;
    }
  }
  