{{> head }}

<div class="container">
  {{> header}}
  {{> nav}}

  <div id="banner" class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Expressive eyebrows</h1>
      <p class="lead my-3">Dogs' eyes evolve to appeal to humans</p>
      <p class="lead mb-0"><a href="../technology" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    {{#each newsHome}}
      {{> featured}}
    {{/each}}
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Dogs' eyes evolve to appeal to humans</h2>
        <p class="blog-post-meta">June 21, 2019 by <a href="#">Mark</a></p>

        <p>If a dog has eyes that seem to be telling you something or demanding your attention, it could be evolution's way of manipulating your feelings.</p>
        <hr>
        <p>Researchers have found that dogs have evolved muscles around their eyes, which allow them to make expressions that particularly appeal to humans. 
        </p>
        <blockquote>
          <p>A small facial muscle allows dog eyes to mimic an "infant-like" expression which prompts a <strong>"nurturing response".</strong> 
          </p>
        </blockquote>
        
        <h2>'Expressive eyebrows'</h2>
        <p>This allows dogs to create what the researchers call "expressive eyebrows" and to "create the illusion of human-like communication". </p>
        <p>"When dogs make the movement, it seems to elicit a strong desire in humans to look after them," says the study, co-authored by Dr Juliane Kaminski at the University of Portsmouth.</p>
        <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/135BA/production/_107409297_dogeyes3.jpg" class="bd-placeholder-img">
        
        <p>She says that humans would have an "unconscious preference" to protect and breed from dogs with such an appealing trait, giving them 
          an evolutionary advantage and reinforcing this change in subsequent generations.</p>
       
        <ul>
          <li>Every school needs a dog as a stress buster.</li>
          <li>Airlines get tough on travellers with 'support pets'.</li>
          <li>'Puppy eyes' used by dogs to persuade humans</li>
        </ul>
      </div><!-- /.blog-post -->
      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit
          amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
</body>

</html>